body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  width: 100%;
  /* background-color: #D0F0C0; */
  background-color: #9B6DFF;
  height: 44px;
  padding: 0 40px;
  text-align: center;
  font-size: 17px;
}

nav ul,
nav ul li {
  margin: 0;
  padding: 0 ;
  list-style: none;
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 44px;
  font-size: 1.4em;
  text-decoration: none;
  color: #000000;
  margin: 0;
}

nav ul li a:hover  {
  background-color: white;
  color: #000000;
}

h1, h2, h3, p {
  text-align: center;
}

.loginForm {
  position: relative;
  text-align: center;
  border-style: dashed;
  border-width: 3px;
}

.budget {
  position: relative;
  text-align: center;
  border-style: dashed;
  border-width: 3px;
}

.signUp {
  position: relative;
  text-align: center;
  border-style: dashed;
  border-width: 3px;
}
